/*-------------------------------*/
/*      Employer Slider         */
/*              */
/*-------------------------------*/


section {
    padding-top: 20px;
    padding-bottom: 20px;
}

#employer-carousel.carousel {
  padding-bottom: 60px;
}
#employer-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#employer-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#employer-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#employer-carousel.carousel .carousel-indicators > li {
  opacity: .5;  
  background-color: #69bac8;
  border: none;
}
.candidate-slider #employer-carousel.carousel .carousel-indicators > li {
  opacity: .5;  
  background-color: #7eb66f;
  border: none;
}
#employer-carousel.carousel .carousel-indicators .active {
  opacity: 1;  
  border: none;
}
#employer-carousel blockquote {
    text-align: center;
    border: none;
}
#employer-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

/*-------------------------------*/
/*      Candidates Slider        */
/*                               */
/*-------------------------------*/

#candidate-carousel.carousel {
  padding-bottom: 60px;
}
#candidate-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#candidate-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#candidate-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#candidate-carousel.carousel .carousel-indicators > li {
  opacity: .5;  
  background-color: #69bac8;
  border: none;
}
.candidate-slider #candidate-carousel.carousel .carousel-indicators > li {
  opacity: .5;  
  background-color: #7eb66f;
  border: none;
}
#candidate-carousel.carousel .carousel-indicators .active {
  opacity: 1;  
  border: none;
}
#candidate-carousel blockquote {
    text-align: center;
    border: none;
}
#candidate-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
