div.dashboard{

}
div.month-calender{
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}
div.month-calender thead th{

}
div.month-overview{
    background: #34425a;  
    padding: 10px;
}
div.month-overview .row {
    margin-top: 20px;
}
div.month-overview .list-unstyled{
    color: #fff;
    font-size: 12px;
}
div.month-overview .list-unstyled span{
    font-size: 18px;
}
div.profileview{
    background: #fff;  
    padding: 0px 10px;
    border: 1px solid #e8e8e8;
}
div.latest-activities{
    background: #fff;  
    padding: 10px ;
    border: 1px solid #e8e8e8;   
}
div.latest-activities .timeline .time-label{
    padding: 10px 10px 10px 13px;
}
div.latest-activities .timeline .time-label span i{
    background: #fff;  
    padding: 7px;
    border: 1px solid #e8e8e8;   
    border-radius: 20px;
    font-size: 14px;
    left: 18px;
    color: #a5a5a5;
}
div.latest-activities .timeline::before {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 0;
    content: "";
    left: 31px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}
.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
div.latest-activities .timeline > li > .timeline-item {
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}
/*.timeline > li > .timeline-item > .time {
  color: #999;
  float: right;
  padding: 10px;
  font-size: 12px;
}*/
div.latest-activities .timeline > li > .timeline-item > .status-button {
    color: #999;
    padding: 10px;
    font-size: 12px;
}
div.latest-activities .timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}
/***** timeline **/
div.potential-job{
    border: 1px solid #e8e8e8;
    background: #fff;
    padding-top: 40px;
    padding-left: 20px;
}
.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}
div.potential-job .timeline > li > .timeline-item > .job-location {
    color: #999;
    padding: 10px;
    font-size: 12px;
}
div.potential-job .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #fff;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}
.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
div.potential-job .timeline > li > .timeline-item {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}
.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}
div.potential-job .timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}
.timeline > li > .timeline-item > .timeline-header > a {
    font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
    padding: 10px;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}
.timeline > .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
}
.timeline-inverse > li > .timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.timeline-inverse > li > .timeline-item > .timeline-header {
    border-bottom-color: #ddd;
}
.progress {
    border-radius: 10px;
    height: 15px;
    margin: 10px;
    font-size: 10px;
}
.progress-bar {
    line-height: 15px;

}

label.edit-profile-button{
    border-radius: 100%;
    font-size: 16px;
    padding: 1px 3px;
    position: absolute;
    right: 60px;
    background: #4298b5;
    color: #fff;
}
.profile-user-img{
    border: 0px solid #d2d6de;
    padding: 2px;
}

div#xzaqt-message-alert {
    bottom: 0;
    display: none;
    height: 100px;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 5;
}
header.main-header {
    background: #fff none repeat scroll 0 0;
}
.skin-black .main-header > .navbar .navbar-nav > li > a {
    border-right: 1px solid #fff;
}
.skin-black .main-header .navbar-brand {
    padding: 5px;
    border-right: 1px solid #fff;

}
.main-header .navbar {
    margin-left:50px;
    min-height: 70px;
}
.navbar-header{
    margin-top: 10px;
}
.navbar-nav > li > a {
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.main-sidebar, .left-side {
    padding-top: 70px;
}
.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a, 
.skin-black .main-header > .navbar .navbar-right > li > a {
    border-left: 1px solid #fff;
    border-right-width: 0;
}
.main-header .navbar .nav > li > a > .label {
    top: 16px;
}
@media (max-width: 767px) {
    .main-header {
        position: relative;
    }
    .main-header .logo,
    .main-header .navbar {
        width: 100%;
        float: none;
    }
    .main-header .navbar {
        margin: 0;
    }
    .main-header .navbar-custom-menu {
        float: right;
    }
}