/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 6:49:23 PM
    Author     : farhad
*/
a, button {
   outline: 0;
}
a:hover, a:active, a:focus, button:hover, button:active, button:focus {
  /* styling for any way a link is about to be used */
  outline: 0;
}

.navbar-xzaqt{
    background: #FFF;
    border-bottom: 1px solid #e0e0e0;
    -moz-box-shadow: 0 1px 1px rgba(209, 209, 209, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(209, 209, 209, 0.1);
    box-shadow: 0 1px 1px rgba(209, 209, 209, 0.1);
    padding: 10px;
    
}
#top.nav > li > a {
    color: #8e8e8e;
    display: block;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    text-transform: uppercase;
}
#top.nav > li > a:hover,
#top.nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
  color: #e7ba39;
}

.xzq-toggle span{
  color: #FFFFFF;
}

.navbar-thm {
  background-color: #fff;
  border-color: #e7e7e7;
}
.navbar-thm .navbar-brand {
  color: #777;
}
.navbar-thm .navbar-brand:hover,
.navbar-thm .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-thm .navbar-text {
  color: #777;
}
.navbar-thm .navbar-nav > li > a {
  color: #777;
}
.navbar-thm .navbar-nav > li > a:hover,
.navbar-thm .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-thm .navbar-nav > .active > a,
.navbar-thm .navbar-nav > .active > a:hover,
.navbar-thm .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-thm .navbar-nav > .disabled > a,
.navbar-thm .navbar-nav > .disabled > a:hover,
.navbar-thm .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-thm .navbar-toggle {
  border-color: #ddd;
}
.navbar-thm .navbar-toggle:hover,
.navbar-thm .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-thm .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-thm .navbar-collapse,
.navbar-thm .navbar-form {
  border-color: #e7e7e7;
}
.navbar-thm .navbar-nav > .open > a,
.navbar-thm .navbar-nav > .open > a:hover,
.navbar-thm .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

/** nav bottom start  **/
.navbar-footer {
  background-color: #333;
  border-color: #e7e7e7;
  text-align: center;
}
.navbar-footer .navbar-brand {
  color: #777;
}
.navbar-footer .navbar-brand:hover,
.navbar-footer .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-footer .navbar-text {
  color: #777;
}
.navbar-footer .navbar-nav > li > a {
  color: #fff;
}
.navbar-footer .navbar-nav > li > a:hover,
.navbar-footer .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-footer .navbar-nav > .active > a,
.navbar-footer .navbar-nav > .active > a:hover,
.navbar-footer .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-footer .navbar-nav > .disabled > a,
.navbar-footer .navbar-nav > .disabled > a:hover,
.navbar-footer .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-footer .navbar-toggle {
  border-color: #ddd;
}
.navbar-footer .navbar-toggle:hover,
.navbar-footer .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-footer .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-footer .navbar-collapse,
.navbar-footer .navbar-form {
  border-color: #e7e7e7;
}
.navbar-footer .navbar-nav > .open > a,
.navbar-footer .navbar-nav > .open > a:hover,
.navbar-footer .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
/** nav bottom end  **/
.footer-nav{
   border-top: 1px solid #ccc; 
   margin-top: 30px;
   color: #999;
 
}
footer p, footer a{
    color:#999;
}
footer a:hover{
    color:#999;
    text-decoration: none;
}
.navbar-header{
    margin-left: 50px;
}
.top-slide{
   margin-right:-15px;
   margin-left:-15px;
   margin-top: -30px;
}
.top-slide{
    background: #333333 url('../images/theme/header-background.png') fixed no-repeat ; 
    background-size: cover;
    height: 430px;
}
div.top-slide > div{
    background: rgba(0,0,0, .7);
    padding-top: 30px;
    height: 430px;
    border-bottom: 5px solid #e7ba39;
}

.top-slide h1{
    color: #e7ba39;
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.top-slide p{
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
}
.steps{
    margin-top: 40px;
}
.steps h1{
    text-transform: uppercase;
    font-weight: bold;
}
.steps p{
    font-size: 16px;
    margin-top: 50px;
}

.steps h3{
   margin-top: 5px;
   font-weight: normal;
   font-size: 16px;
   text-transform: uppercase;
}
#contact-us{
    border-radius: 4px;
    background: #69bac8;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
}
#contact-us:hover{
    background: #4b8c97;
}
#sign-in{
    background: #7eb66f;
    border-radius: 4px;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
}
.why-use{
    background: #fbfbfb;
}
.dt-style dl{
    margin-top: 50px;
    
    
}
.dt-style .dl-horizontal dt {
    width: 64px;
    text-align: center;
   
}

.dt-style .dl-horizontal dd {
    margin-left: 64px;
    font-size: 16px;
    color: #2d2d2d;
    margin-bottom: 20px;
}
.book{
    background: url('../images/theme/book.png') fixed no-repeat ; 
    background-size: cover;
    color: #fff;
}
biv.book .row{
    margin-left: -30px;
    margin-right: -30px;
}
div.use-us p{
    font-size: 16px;
}
.profile-circle img{
    border: 3px solid #b7b7b7;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.carousel-container{
    background: #f8f8f8;
    padding: 30px 0px 30px 0px ;
    border-radius: 10px;
}
.emp-slider h2 {
    color:#69bac8;
}
.emp-slider p {
    font-size: 15px;
}
.emp-slider h4{
     color:#69bac8;
     font-style: italic;
}

.candidate-slider h2 {
    color:#7eb66f;
}
.candidate-slider p {
    font-size: 15px;
}
.candidate-slider h4{
     color:#7eb66f;
     font-style: italic;
}
div.our-platform{
    background: #f8f8f8; 
}
div.our-platform h1{
    text-align: center;
}
div.our-platform p{
    text-align: center;
}
div.hire-through h1{ 
    text-align: center;
}
div.hire-through p{ 
    text-align: center;
    font-size: 15px;
}
div.companies{
   padding: 10px;
   box-sizing: border-box;
   text-align: center;
}
div.companies img{
   padding: 10px 15px;
   box-sizing: border-box;
   height: 80px;
}

footer{
    background: #333;
    
}
footer h1{
    color: #878787;
    text-align: center;
    text-transform: uppercase;
}
footer.press img{
    height: 40px;
    padding: 10px 15px;
    box-sizing: border-box;
}