body{
    margin: 0px;
    padding: 0px;
}
body,a{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
div.content-wrapper, div.right-side, footer.main-footer{
    margin-left: 0px;
}
.navbar {
    margin-bottom: 0px;
}