body{
    background: #fbfbfb;
    margin: 0px;
    padding: 0px;
}

.profile-content{
    padding: 30px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
section.profile-content .btn {
    font-weight: bold;
}
section.profile-info{
    font-size: 16px;
    border-radius: 1px;
    font-weight: 500;
}
section.profile-info h1{
    font-size: 30px;
    margin-top: 0px;
    font-weight: bold;
}
section.profile-info ul{
    list-style: none;
    padding-left: 0px;
}
section.profile-info ul li > span{
    color: #69bac8;
}

div.public-profile-img img{
    border-radius: 100%;
}
span.review i{
    color: #ffbd00;
}
div.hourly-rate{
    border: 3px solid #7eb66f;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: #7eb66f;
    font-size: 1em;
}
div.hourly-rate span{
    font-size: 1.5em;
}

/******* button  *********/
section.profile-content .btn-theme-3{
    border-radius: 3px;
}

section.summary-of-strength{
    padding-top: 25px;
    padding-bottom: 20px;
    font-weight: bold;
    
}
section.summary-of-strength span{
   color: #69bac8;
}
section.first-set{
    padding-bottom: 0px;
}
section.first-set h3{
    color: #7eb66f; 
    margin-top: 5px;
    margin-bottom: 20px;
}
div.profile-skills-list{
    padding-bottom: 10px;
}
div.profile-skills-list span{
   border-radius: 20px;
   margin-bottom: 20px;
}
div.profile-skills-list .btn{
    font-weight: 400;
}
div.languages {
   padding-bottom: 15px;
}
div.languages h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.languages h4{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 2px;
    font-weight: bold;  
}
div.languages p{
    font-size: 13px;
    color: #9a9a9a;
    
}
section.second-set{
    padding:0px;
}
section.second-set .profile-content{
    padding: 0px 30px;
}
section.second-set h3{
    color: #7eb66f; 
    margin-top: 5px;
    margin-bottom: 20px;  
}
div.profile-content .timeline:before{
    width: 2px;
    background: #d7edf0
}
div.profile-content .timeline{
    padding: 15px 0;
}
div.profile-content .timeline > li > .fa,
div.profile-content .timeline > li > .glyphicon,
div.profile-content .timeline > li > .ion {
  width: 15px;
  height: 15px;
  line-height: 30px;
  background: #d7edf0;
  border-radius: 50%;
  left: 25px;
  top: 20px;
}
div.profile-content .timeline > li > .timeline-item {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  border-radius: 3px;
  margin-top: 10px;
  background: #fff;
  color: #b7b7b7;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0;
  position: relative;
}

div.profile-content .timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  color: #555;
  border-bottom: 1px solid #fff;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.1;
}
div.profile-content .timeline > li > .timeline-item > .timeline-header h3 {
  margin: 0;
  color: #373737;
  border-bottom: 1px solid #fff;
  padding: 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
}
div.profile-content .timeline > li > .timeline-item > .timeline-header span {
  color: #b7b7b7;
  font-size: 14px;
  margin-top: 5px;
}
div.profile-content .timeline > li > .timeline-item > .time  {
    color: #b7b7b7;
    float: right;
    font-size: 16px;
    padding: 10px;
}
div.profile-content .timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
    padding: 10px;
}
div.profile-content .timeline-body dt{
    color: #e7ba39;
    width: 40px;  
    text-align: center;
    font-size: 16px;
}
div.profile-content .timeline-body dd{
    margin-left: 40px;
}
div.profile-content .timeline-body .dl-horizontal{
    margin-top: 10px;
    margin-bottom: 0px;
}
div.profile-content .timeline > li {
    margin-bottom: 0;
}
div.profile-content .progress-bar{
    background-color: #e7ba39;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.15) inset;
}
div.profile-content  .progress{
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    height: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}
div.profile-content .panel-footer{
    
}
section.third-set .profile-content  .panel-heading{
    padding: 30px 30px 0px 30px;
    
}
section.third-set{
    margin-top: -20px;
}
section.third-set .profile-content{
    margin: 5px;
    padding-top: 0;
    padding-bottom: 0;
}
section.third-set h3 {
    color: #7eb66f;
    margin-bottom: 20px;
    margin-top: -5px;
}
div.profile-content .panel{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    text-align: center;
    margin-left: -30px; 
    margin-right: -30px; 
    margin-bottom: 0px;
}
section.third-set .profile-content .panel-body p:first-child {
    color: #e7ba39;
    font-size: 25px;
}
section.third-set .profile-content .panel-body p:nth-child(2),
section.third-set .profile-content .panel-body p:nth-child(3) {
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    
}
section.third-set .profile-content .panel-footer p:first-child {
    color: #8fcbd6;
    font-size: 16px;
    margin-bottom: 0px;
}
section.third-set .profile-content .panel-footer p:nth-child(2) {
    color: #ccc;
    font-size: 14px;
  
}
div.profile-content .panel-footer{
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0px;
}
/*section.third-set .*/
section.fourth-set{
    padding-top: 0px;
    padding-bottom: 0px;
}
section.fourth-set h3{
    color: #7eb66f; 
    margin-top: 5px;
    margin-bottom: 20px;
}
section.fourth-set .profile-content span {
    color: #E7BA39;
}
section.fourth-set .dl-horizontal dt {
    width: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
}
section.fourth-set .dl-horizontal dd {
    margin-left: 50px;   
    text-align: left;
    font-size: 16px;
    color: #7b7b7b;
    margin-bottom: 5px;
}